{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Home</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


		<!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet"/>



    <!--  Fonts and icons     -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/Muli-font.css' %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
		<!-- Charts -->
		<script src="{% static 'js/Chart.bundle.js' %}"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'teacher_analytics' %}" class="simple-text">
									Faculty Feedback System
                </a>
            </div>

            <ul class="nav">
							{% if user.is_authenticated %}
								<li class="active">
                    <a href="{% url 'teacher_analytics' %}">
                        <i class="ti-pie-chart"></i>
                        <p>Analytics</p>
                    </a>
                </li>
								<li>
                    <a href="{% url 'logout' %}">
                        <i class="ti-unlock"></i>
                        <p>Logout</p>
                    </a>
                </li>
								{% else %}
								<li>
                    <a href="{% url 'signup' %}">
                        <i class="ti-user"></i>
                        <p>Student Signup/Login</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'teacher_signup' %}">
                        <i class="ti-user"></i>
                        <p>Teacher Signup/Login</p>
                    </a>
                </li>
								{% endif %}
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'analytics' %}">Your Overall Performance</a>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h3 class="title">{{subject_name}} Summary</h3>
                                <h4 class="title">Prof. {{ fname }} {{ lname }}</h4>
                            </div>

                            <div class="content">
															<div class="chart-container">
																<canvas id="myChart1"></canvas>
															</div>
															<div class="chart-container">
																<canvas id="myChart2"></canvas>
															</div>

                            </div>
                        </div>
                    </div>
                </div>
								<div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h3 class="title">Questions Map</h3>
																<h5>
																	Q1 - Abilities to understand student's difficulties and willingness to help them <br>
																	Q2 - Commitment to academic work in the class <br>
																	Q3 - Regularity and Punctuality <br>
																	Q4 - Interaction in the class <br>
																	Q5 - Coverage of syllabus <br>
																	Q6 - Planning of lessons throughout the Semester <br>
																	Q7 - Effective communication of subject matter <br>
																	Q8 - Management of lecture and class control <br>
																	Q9 - Overall ability to maintain sancity of Teaching - Learning process <br>
																</h5>
                            </div>

                            <div class="content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="navbar-fixed-bottom">
				<div class="card" style="margin: 0; width: 100%;">
						<div class="content">
							<p style="margin: 0 auto; width: 40%;">Developed by <a href="https://github.com/pujanm"> Pujan Mehta </a> and <a href="https://github.com/sahiljajodia01"> Sahil Jajodia </a></p>
						</div>
				</div>
</footer>

</body>

<!--   Core JS Files   -->
<!-- <script src="{% staticjs/jquery-1.10.2.js" type="text/javascript"></script> -->
<script src="{% static 'js/jquery.min-3.3.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static 'js/bootstrap-checkbox-radio.js' %}"></script>

<!--  Charts Plugin -->
<script src="{% static 'js/chartist.min.js' %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static 'js/bootstrap-notify.js' %}"></script>

<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="{% static 'js/paper-dashboard.js' %}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static 'js/demo.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/additional-methods.min.js' %}"></script>

	<script>
		var ctx1 = document.getElementById("myChart1").getContext('2d');
		var f = {{ arr }};
	  var s = {{ count_arr|safe }};
		var chart1 =  new Chart(ctx1, {
	    type: 'bar',
	    data: {
	      labels: s,
	      datasets: [{
	        label: "Feedback",
	        backgroundColor: ["rgba(153,255,51,0.4)",
														"rgba(255,153,0,0.4)",
														"rgba(29, 88, 183, 0.4)",
														"rgb(237, 42, 88, 0.4)",
														"rgb(194, 41, 237, 0.4)",
														"rgb(235, 255, 20, 0.4)"
					],
	        data: f
	      }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true,
	                }
	            }]
	        }
	    }
	});

	// CHART 2

	var ctx2 = document.getElementById("myChart2").getContext('2d');
	var avg = {{ avg }};
	var chart2 =  new Chart(ctx2, {
		type: 'bar',
		data: {
			labels: ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q8', 'Q9'],
			datasets: [{
				label: "Feedback",
				backgroundColor: ["rgba(153,255,51,0.4)",
													"rgba(255,153,0,0.4)",
													"rgba(29, 88, 183, 0.4)",
													"rgb(237, 42, 88, 0.4)",
													"rgb(194, 41, 237, 0.4)",
													"rgb(1, 124, 247, 0.4)",
													"rgb(19, 163, 62, 0.4)",
													"rgb(249, 56, 2, 0.4)",
													"rgb(247, 2, 198, 0.4)"
				],
				data: avg
			}]
		},
		options: {
				scales: {
						yAxes: [{
								ticks: {
										beginAtZero:true,
								}
						}]
				}
		}
	});


	var t = document.getElementById('sub');
	console.log(t);
	console.log(f);
	</script>

</html>
